label{
    display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: left;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {
    background-image:url("media/fitsplash.jpg");
    color: white;
}

.container {
    /*padding: 16px;*/
    margin: auto;
}
button {
    /*background-color: #4CAF50;*/
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 8px;
}

button:hover {
    opacity: 0.5;
}